.header {
  background: #348CB2;
}

.newsletter-title {
  color: #ffffff;
}

.intro-title {
  font-size: 18px;
  font-weight: bold;
}

.item-title {
  font-size: 16px;
  font-weight: bold;
}

.from-the-forum-title {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}


.planet-birmingham-title {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.outro-title {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
